<div>
    <h1 class="sha">CREDITOS</h1>
</div>
<div>
    <h3><span class="sha">diseño y desarrollo</span></h3>
    <p>Jesús Fernández</p>
    <img src="/images/head.jpg" alt="head" width="250px" height="200x">
    <h3><span class="sha">competencias</span></h3>
    <p>Diseñador y desarrollador web FrontEnd (HTML5, CSS3, JavaScript)</p>
    <p>Desarrollador BackEnd (Node.js + Express, PostgreSQL)</p>
    <p>Administrador de sistemas Linux</p>
</div>
